<h1>Editing Comic</h1>

<%= render 'form', comic: @comic %>

<%= link_to 'Show', @comic %> |
        <%= link_to comics_path, class: "btn btn-outline-secondary mt-2" do %>
          <i class="bi bi-arrow-left"></i> Back
        <% end %>
