<div>
  <h2 class="h2 text-dark mb-3">
    <i class="bi bi-person-circle"></i>
    Characters created by 
    <span class="badge text-white fs-5" style="background-color: #ED1D24;">
      <%= @user.email %>
    </span>
  </h2>
</div>
<%= render 'characters/character_table' %>